
.header__logo {
    font-family: 'RobotoSlabBold', sans-serif; 
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
   /*  padding-left: 104px; */
}
.header__logo_white {
    color: #fff;
}
.header__logo_black {
    color: #1a1b22;
}