.result-section_button {
    background: #FFFFFF;
    width: 288px;
    height: 64px;
    align-self: center; 
    font-family: 'RobotoRegular';
    font-size: 18px;
    border: none;
    margin-bottom: 64px; 
    border-radius: 80px;
}
.result-section_button:hover{
    opacity: 0.9;
    cursor: pointer;
}