@import url('./_intro/search-section_intro.css');
@import url('./_input/search-section_input.css');
@import url('./_form/search-section_form.css');
@import url('./_button/search-section_button.css');
.search-section {
    color: #fff;
    max-width: 608px;
    margin: auto;
    margin-bottom: 87px;
   /*  display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
 */
}