.footer_image {
    max-width: 30vw;
    height: auto;
    border-radius: 1000px;
    margin-top: 40px;
    margin-bottom: 80px; 
}
@media all and (max-width: 700px) {
    .footer_image {
        margin-bottom: 40px;
    }
}
