.search-section_button {
   background-color: #2F71E5;
   border-radius: 100px;
   height: 64px;
   max-width: 168px; 
   font-family: 'RobotoMedium';
   font-size: 18px;
   border-style: none;
   color: #fff;
   cursor: pointer;
   width: 100%;

} 
.search-section_button:focus {
    outline: none;
    background-color: #347eff;
   
 } 
 .search-section_button:hover {
    background-color: #347eff;
 } 
 .search-section_button:active {
    background-color: #2a65cc;
 } 
 