.result__title {
    font-family: 'RobotoSlabRegular';
    font-size: 40px;
    color: #1a1b22;
    padding-top: 80px;
    padding-left: 104px;
    font-weight: normal;
    margin: 0;
}
.result__title_saved {
max-width: 530px;
padding-top: 28px;
}
.result__uptitle {
    font-size: 18px;
    color: rgba(26, 27, 34, .5);
    font-weight: normal;
}
.result__subtitle {
    font-family: 'RobotoRegular';
    padding-top: 28px;
    padding-bottom: 56px;
    font-size: 18px;
    color: #1a1b22;
    font-weight: normal;
}
.result__subtitle_bold {
 
    font-weight: bold;
}
@media all and (max-width: 768px) {
    .result__title {
     max-width: 336px;   
     font-size: 30px;
     padding-left: 6%;
    }
    .result__uptitle {
        font-size: 12px;
    }
    .result__subtitle {
        font-size: 12px;
    }
}
.result__title_invisible {
    display: none;
}