 .search-section_input {
border-style: none;
border-radius: 100px;
font-family: 'RobotoRegular';
font-size: 16px;
padding-left: 24px;
width: 100%;
} 
.search-section_input:focus {
    outline: none;
}