@import url('./_image/article_image.css');
@import url('./_content/article_content.css');
@import url('./_date/article_date.css');
@import url('./_title/article_title.css');
@import url('./_text/article_text.css');
@import url('./_source/article_source.css');
@import url('./_tooltip/article_tooltip.css');
@import url('./_bookmark/article_bookmark.css');
.article {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    max-width: 400px;
    position: relative;
    margin: 0;
    justify-self: center;
}