@import url('./__image/article__image.css');
@import url('./__content/article__content.css');
@import url('./__date/article__date.css');
@import url('./__title/article__title.css');
@import url('./__text/article__text.css');
@import url('./__source/article__source.css');
@import url('./__tooltip/article__tooltip.css');
@import url('./__bookmark/article__bookmark.css');
.article {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    max-width: 400px;
    position: relative;
    margin: 0;
    justify-self: center;
}