.result__preloader {
    height: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
   /*  padding-top: 80px; */
}
.invisible {
    display: none;
}