.popupmenu__nav {
    height: 60%;
    color: #fff;
    text-decoration: none;
    font-family: 'RobotoMedium', sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin-left: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}