.header__close {
    width: 26px;
    position: absolute;
    top: 26px;
    right: 36px;
    cursor: pointer;
    z-index: 1;
  }
.header__close:hover {
    opacity: .7;
}

@media all and (min-width: 664px) {
 .header__close {
   visibility: hidden;
 }
}