@import url('../vendor/font.css');
@import url('../vendor/normalize.css');
@import url('../blocks/header/header.css');
@import url('../blocks/search/search.css');
@import url('../blocks/circle-preloader/circle-preloader.css');
@import url('../blocks/result/result.css');
@import url('../blocks/article/article.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popupmenu/popupmenu.css');


body {
  background-color:#fff;
  max-width: 1440px;  
  margin: auto;
}