@import url('../vendor/font.css');
@import url('../vendor/normalize.css');
@import url('../blocks/header/header.css');
@import url('../blocks/search-section/search-section.css');
@import url('../blocks/circle-preloader/circle-preloader.css');
@import url('../blocks/result-section/result-section.css');
@import url('../blocks/article/article.css');
@import url('../blocks/footer/footer.css');


body {
  background-color:#fff;
  max-width: 1440px;  
  margin: auto;
}