.result__zero {
    height: 294px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result__zero_title {
font-family: 'RobotoSlabRegular';
font-size: 26px;
font-weight: normal;
line-height: 30px;
padding-top: 30px;
margin: 0px;
text-align: center;
}