.result__articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem; 
    padding: 6% 104px;
}

@media all and (max-width: 768px) {
    .result__articles{
        grid-template-columns: repeat(2, 1fr);
        padding: 64px 40px;
    }
}

@media all and (max-width: 550px) {
    .result__articles{
        grid-template-columns: 1fr;
        padding: 30px 16px;
    }
}
@media all and (max-width: 860px) {
    .result__articles{
        padding: 3% 16px;
    }
}