.result__button {
    background: #FFFFFF;
    width: 288px;
    height: 64px;
    margin:  auto 64px;
    font-family: 'RobotoRegular';
    font-size: 18px;
    border: none;
    border-radius: 80px;
    
}
.result__button:hover{
    opacity: 0.9;
    cursor: pointer;
}