@import url('./__content/popupmenu__content.css');
@import url('./__close/popupmenu__close.css');
@import url('./__nav/popupmenu__nav.css');
@import url('./__button/popupmenu__button.css');
@import url('./__icon/popupmenu__icon.css');
.popupmenu  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center; 
  }
  