.result-section_title {
    font-family: 'RobotoSlabRegular';
    font-size: 40px;
    color: #1a1b22;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 104px;
    font-weight: normal;
    margin: 0;
}